.dataLabels{
  font-weight: 600;
  font-size: 14px;
}

#ticky0, #ticky6, #ticky7, #ticky11, #ticky17, #ticky20 {}



.yLabelsGroup text {
    font-size: 14px;
    fill: #414042;
    font-weight: 600;
}