
    #image-desktop {
      display: block;
      height:518px;
      /* background:blue; */
    }

    @media only screen and (max-width: 699px) {
      #image-desktop {
        display: none;
           }

           #image-mobile {
            display: block;
            /* background:red; */
          }
    }


    #image-test {
      display: block;
      /* background:green; */
    }