.dataLabels{
  font-weight: 600;
  font-size: 14px;
}

.cellsselected {
  opacity: 1;
  stroke-width: 2px;
  stroke: #000;
  fill: orange;
  fill-opacity: 0.75;
}

.htmlTooltip {
  /* background-color: rgba(238, 238, 238, 0.75); */

  pointer-events: none;
}

.innerTooltip {
  background-color: rgba(238, 238, 238, 1);
  padding: 8px 12px 10px 12px;
  pointer-events: none;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 1px rgba(65, 64, 66, 0.25);
  margin-top: 5px;
  margin-left: 5px;
  width:190px;
  font-size: 14px;
  color: #222222;
}
#infobox {
  font-size:16px;
  color:#222222;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}
