.dataLabels{
    font-weight: 600;
    font-size: 14px;
  }

  p.groupLabels{
    padding-top:5px;
    margin-top: 5px;
    margin-bottom:0em;
    font-weight: 600;
  }

  .sliderdiv {
    width: 60%;
    margin: 40px auto;
    margin-bottom: 0px;
    position: relative;
  }

  .questiontext{
    font-family: open sans,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
  }

  .questiontext-bold{
    font-family: open sans,Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 16px;
  }

  #slideraxis{
    margin: 0px auto;
    position: relative;
  }

  #slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    border-radius: 3px;
  }

  /* Design slider button */
  #slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 48px;
    height: 48px;
    cursor: pointer;
    position: relative;
    z-index: 3;
  }

  #slider::-webkit-slider-runnable-track{
    background: #A6BFD5;
    height: 7px;
  }

  #selector {
    height: 104px;
    width: 24px;
    position: absolute;
    bottom: -5px;
    left: 38%;
    transform: translateX(-50%);
    z-index: 2;
  }
  .selectBtn {
    height: 24px;
    width: 24px;
    /*background-image: url(https://fadzrinmadu.github.io/hosted-assets/range-slider-using-html-and-css/icon.png);
    background-size: cover;
    background-position: center;*/
    background: #206095;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
  }
  #selectValue {
    width: 36px;
    height: 30px;
    position: absolute;
    top: 45px;
    left: -6px;
    background: #206095;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    stroke: white;
    color: white;
    font-weight: 400;
  }

  #progressBar {
    width: 38%;
    height: 7px;
    background: #206095;
    border-radius: 3px;
    position: absolute;
    bottom: 4px;
    left: 0;
  }

  #reference {
    position: absolute;
    top:5px;
    left: 55%;
  }

  #reference-line{
    height:40px;
    width: 3px;
    background-color: black;
  }

  .button-calculate {
    display: block;
    margin: 10px 20px 20px 0px;
    background-color: #0F8243;
    padding: 15px;
    border: none;
    font-weight: 700;
    color: white;
    cursor: pointer;
  }

  .button-calculate:hover {
    background-color: #004F10;
  }

  .info-box {
    /*margin-top: 30px;*/
    padding: 10px 20px;
    flex-grow: 1;
    flex-basis: 0;
    font-weight: 600;
    position: relative;
  }

  .info-box-light {
    background-color: #e9f0f5;
    color: #206095;
  }

  .info-box-blue {
    background-color: #206095;
    color: white;
  }

  .info-box-green {
    background-color: #e7f3ec;
    /*color: white;*/
  }

  .info-box-red {
    background-color:#fbeaea;
    /*color: white;*/
  }

  .redcircle{
    position: absolute;
    top: -20px;
    left: 46%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d32f2f;
    color: white;
    text-align: center;
    font-size: 34px;
    /*margin-left:50%*/
  }

  .greencircle{
    position: absolute;
    top: -20px;
    left: 46%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0f8243;
    color: white;
    text-align: center;
    font-size: 34px;
    /*margin-left:50%*/
  }


  .header{
    font-size: 20px;
    text-align: left;
  }

  .option-button{
    width: 100%;
    margin: 5px 0px;
    background-color: #206095;
    color: #fff;
    border: none;
    font-family: open sans,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .option-button:hover{
    cursor: pointer;
    background-color: #003C57;
  }

  .deselected{
    background-color: #A09FA0;
    color: #D9D9D9;
    opacity: 0.5;
  }

  .deselected:hover{
    background-color: #A09FA0;
    cursor: auto;
  }

  .correct{
    background-color: #0f8243 !important;
    cursor: auto !important;
  }

  .incorrect{
    background-color: #d32f2f !important;
    cursor: auto !important;
  }
