
    #Start-button{cursor: pointer;}
    /* #Start-button:focus{                  stroke:#F39431;stroke-width:2;stroke-miterlimit:10;} */
    #Mouse-arrows{display:none;}
    #Mouse-arrows{cursor: pointer;
    }
/* Smartphone_x5F_click-area
Till_x5F_click-area
Computer_x5F_click-area
Telephone_x5F_click-area
Keys_x5F_click-area
Thermostat_x5F_click-area
Speaker_x5F_click-area
TV_x5F_click-area
Vacuum_x5F_click-area
Storeroom_x5F_click-area */


.Mouse-circles{fill:white;}

.InfoPage{display:none;}


.Mouse-smartphone{  transform-origin: center center;
  /* transform-origin: center center; */
  transition: transform 0.3s ease-in-out;

 ;}

/* .Mouse-smartphone:hover{  
  transform: scale(1.15);
 ;} */
#Mouse-keys:focus{outline:none;}
#Mouse-vacuum:focus{outline:none;}
#Mouse-thermostat:focus{outline:none;}
#Mouse-TV:focus{outline:none;}
#Mouse-speaker:focus{outline:none;}
#Mouse-till:focus{outline:none;}
#Mouse-storeroom:focus{outline:none;}
#Mouse-computer:focus{outline:none;}
#Mouse-telephone:focus{outline:none;}

#TTill_x5F_click-area:hover > #Till_x5F_circle-upper-shape{fill:red;}
.arrowpink:hover{fill:#DF0667;}
#Mouse-smartphone:focus .Mouse-circles{fill:#DF0667; stroke:#F39431; stroke-width: 2}

#Mouse-smartphone:focus .Mouse-circles{fill:#DF0667; stroke:#F39431; stroke-width: 2}
#Mouse-keys:focus .Mouse-circles{fill:#DF0667; stroke:#F39431; stroke-width: 2}
#Mouse-vacuum:focus .Mouse-circles{fill:#DF0667; stroke:#F39431; stroke-width: 2}
#Mouse-thermostat:focus .Mouse-circles{fill:#DF0667; stroke:#F39431; stroke-width: 2}
#Mouse-TV:focus .Mouse-circles{fill:#DF0667; stroke:#F39431; stroke-width: 2}
#Mouse-speaker:focus .Mouse-circles{fill:#DF0667; stroke:#F39431; stroke-width: 2}
#Mouse-till:focus .Mouse-circles{fill:#DF0667; stroke:#F39431; stroke-width: 2}
#Mouse-storeroom:focus .Mouse-circles{fill:#DF0667; stroke:#F39431; stroke-width: 2}
#Mouse-computer:focus .Mouse-circles{fill:#DF0667; stroke:#F39431; stroke-width: 2}
#Mouse-telephone:focus .Mouse-circles{fill:#DF0667; stroke:#F39431; stroke-width: 2}

/* #Smartphone-Cross_x5F_click-area:focus{outline:none;}*/
/* #Keys-Cross_x5F_click-area:focus{outline:none;fill:#DF0667; stroke:#F39431; stroke-width: 2}} */

/*#Vacuum-Cross_x5F_click-area:focus{outline:none;}
#Speaker-Cross_x5F_click-area:focus{outline:none;}
#Thermostat-Cross_x5F_click-area:focus{outline:none;}
#TV-Cross_x5F_click-area:focus{outline:none;}
#Computer-Cross_x5F_click-area:focus{outline:none;}
#Till-Cross_x5F_click-area:focus{outline:none;}
#Storeroom-Cross_x5F_click-area:focus{outline:none;}
#Telephone-Cross_x5F_click-area:focus{outline:none;} */


/* #Telephone-Cross_x5F_click-area:focus circle#Telephone{fill:#DF0667; stroke:#F39431; stroke-width: 2} */
#Keys-Cross_x5F_click-area:focus circle#Keys-Cross_x5F_click-area {fill:#DF0667; stroke:#F39431; stroke-width: 2}
#Vacuum-Cross_x5F_click-area:focus .Mouse-circles{fill:#DF0667; stroke:#F39431; stroke-width: 2}
#Speaker-Cross_x5F_click-area:focus .Mouse-circles{fill:#DF0667; stroke:#F39431; stroke-width: 2}
#Thermostat-Cross_x5F_click-area:focus .Mouse-circles{fill:#DF0667; stroke:#F39431; stroke-width: 2}
#TV-Cross_x5F_click-area:focus .Mouse-circles{fill:#DF0667; stroke:#F39431; stroke-width: 2}
#Computer-Cross_x5F_click-area:focus .Mouse-circles{fill:#DF0667; stroke:#F39431; stroke-width: 2}
#Till-Cross_x5F_click-area:focus circle#Till-Cross_x5F_click-area{fill:#DF0667; stroke:#F39431; stroke-width: 2}
#Storeroom-Cross_x5F_click-area:focus .Mouse-circles{fill:#DF0667; stroke:#F39431; stroke-width: 2}
#Telephone-Cross_x5F_click-area:focus .Mouse-circles{fill:#DF0667; stroke:#F39431; stroke-width: 2}



#Till_x5F_click-area:hover ~ #Mouse-till .Mouse-circles {
 fill: #DF0667;
}

.Start-box{fill: #E95195;}
#Start-button:focus .Start-box{fill: #DF0667;outline:none; border:none; stroke:none} */
#Start-button:focus{fill: #DF0667;outline:none; border:none;stroke:none} */

#Start-button:hover ~ #Start-button .st34 {
  fill: #DF0667;
 }

                      #Start-button:focus +#Start-button .st34 {
  fill: #DF0667;
  stroke:#F39431;stroke-width:2;stroke-miterlimit:10;
 }


 .st109:hover + .st34 {fill: #DF0667;}
/* #Till_x5F_click-area:focus ~ #Mouse-till .Mouse-circles {
  border: 
 } */
 
/* #Mouse-till .Mouse-circles{fill:red;}  */


/*   
    .Mouse-circles:hover{fill:#DF0667;}
    .st34:hover{fill:#DF0667;} */

/* 

    .st73{fill:#DF0667;}
    .st74{fill:#DF0667;stroke:#F39431;stroke-width:2;stroke-miterlimit:10;}
    .st75{fill:#A7054D;} */
    /* #Mouse-till{
    -webkit-transform: scale(2);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition:.3s;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition:.3s;  ;}

    #Mouse-till:hover{
      -webkit-transform: scale(1);
      -webkit-transform-origin: 50% 50%;
      -webkit-transition:.3s;
      transform: scale(1);
      transform-origin: 50% 50%;
      transition:.3s;
      transform-box: fill-box;  
  ;} */

.st108{display: none;}
    .st76{cursor: pointer; }
      
    /* test - hide hover areas */
    /* .st76{  display:none;} */
    
    .st109{cursor: pointer;}
    .st109:hover{fill: #DF0667;}
    .st34{cursor: pointer;}
    .st109:hover +  .st34 {fill: #DF0667;}

    
    .click-circle{display: none;}


    /* #Mouse-arrows:hover{display: none;} */

    #image-desktop {
      display: block;
      /* background:blue; */
    }

    @media only screen and (max-width: 699px) {
      #image-desktop {
        display: none;
           }

           #image-mobile {
            display: block;
            /* background:red; */
          }
    }


    #image-test {
      display: block;
      /* background:green; */
    }