h2 {
  margin: 20px 0 !important;
}

h3 {
  padding-top: 10px !important;
  margin-top: 10px !important;
  clear: both;
  font-weight: bold;
  padding-left: 0px;
}

h4 {
  margin-top: 10px !important;
}

.spacer {
  height: 15px;
}

.details__summary {
  display: none;
}

.bottonGroup {
  float: left;
  border-width: 0px;
  color: #206095;
  font-weight: 700 !important;
  font-size: 16px !important;
  background-color: #fff;
  line-height: normal !important;
  margin: 5px 3px;
  padding: 10px 14px;
  cursor: pointer;
  cursor: hand;
  max-width: 900px;
  border: solid #206095 2px;
  font-family: 'Open Sans';
}


.bottonGroup:hover {
  color: #E9EFF4;
  background-color: #003C57;
}

.bottonGroup:focus {
  color: #fff;
  background-color: #206095;
  box-shadow: 0px 0px 0 3.2pt orange
}

.selectedButton {
  color: #fff;
  background-color: #206095;
}

.buttonGroup {
  width: 100%;
}

.dropdown {
  display: none;
}

details {
  user-select: text;
}

details>summary span.icon.down {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  margin-left: auto;
  background-image: none;
}


summary {
  cursor: pointer;
  border: none;
  list-style-type: none;
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

summary:before {
  content: ' ';
  border: solid #206095;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
}

details[open]>summary::before {
  transform: rotate(45deg);
}

.seemore {
  text-decoration: none;
}

.seemore::after {
  font-size: 18px;
  background-color: white;
  content: "See more detail";
  padding: 0 0 0 14px;
}


details[open]>.seemore::after {
  content: "See less detail";
}


.down {
  margin-left: 30px;
}

#CoLtiles {
  margin-top: 15px;
}

#affectYou {
  margin-top: 0 !important;
  padding: 10px 0 0 10px !important;
}

.tile-neutral {
  display: none;
}

.theGrey {
  background-color: #eaeaea;
  height: auto;
  width: 105%;
  padding: 20px 20px;
  margin: 16px 0;
}

.clickBox {
  background-color: white;
  width: 90%;
  margin: 8px 10px 16px 10px;
  height: 116.84px;
  width: 96%;
}

.clickBox:hover {
  background-color: #414042;
  color: white;
}

.clickboxContent:hover>a {
  color: white;
}

.clickboxText {
  padding: 0px 10px;
  margin: 10px 0;
}

.clickboxContent {
  padding: 10px 0px;
}

.affectimg {
  width: 190px;
  float: left;
  margin-right: 10px;
}

.affectimg:hover+.clickboxContent a {
  color: white;
}


@media (max-width: 630px) {
  #buttons {
    display: none;
  }

  #CoLtiles {
    margin: 0px;
  }

  .spacer {
    height: 10px;
  }

  /* Add an active class to highlight the current page */
  .active {
    background-color: #206095;
    color: white;
  }


  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
    display: block;
    float: left;
    overflow: hidden;
    margin: 10px;
    border: 2px solid #206095;
    border-radius: 0px;
    font-family: 'Open Sans';
  }

  /* Style the dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #206095;
    font-weight: 700;
    padding: 0px 10px;
    background-color: white;
    font-family: 'Open Sans';
    margin: 0;
    height: 40px;
  }

  #text {
    margin-top: 100px;
  }

  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(32, 96, 149, 0.2);
    z-index: 1;
    font-family: 'Open Sans';
  }

  /* Style the links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: #206095;
    font-weight: 700;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  /* Add a background on topnav links and the dropdown button on hover */
  a:hover,
  .dropdown:hover .dropbtn {
    background-color: #206095;
    color: white;
  }

  /* Add a background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #206095;
    color: white;
  }

  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .theGrey {
    background-color: #eaeaea;
    height: auto;
    width: auto;
    padding: 5px 0;
  }

  .clickBox {
    margin: 5px 10px;
    width: 95%;
    background-color: #eaeaea;
  }

  .clickboxLink {
    padding: 0 10px;
  }

  .clickBox:hover {
    background-color: #eaeaea;
    color: #323132;
  }

  .clickBox:hover>a {
    color: #414042;
  }

  .affectimg {
    display: none;
  }

  a :focus-visable {
    outline: "none";
  }
}