line.between{
  stroke:#c6c6c6;
  stroke-width:3px;
}

.dataLabels{
  font-weight: 600;
  font-size: 14px;
}

p.groupLabels{

  margin-top: 5px;
  margin-bottom:0em;
  padding-top:10px;
  font-weight: 600;
}
