.btn {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: inline-block;
    width: auto;
    cursor: pointer;
    padding: 6px 16px 10px 16px;
    border: 0 none;
    text-align: center;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out;
    line-height: 32px;
}

.btn--primary {
    background-color: #0F8243;
    color: #fff;
}

h6 {
  font-size: 16px;
  margin: auto;
}
