
  .dataLabels{
    font-weight: 600;
    font-size: 14px;
    paint-order: stroke;
    stroke-width: 8px;
    stroke: #fff;
  }

  .legendLabel{
    font-size: 14px;
  }
  .flag{
    font-size: 14px;
    fill: #414042;
    color: #414042;
  }

  .flag_highlight{
    font-size: 14px;
    fill: #414042;
    color: #414042;
    font-weight: bold;
  }
