body {
    max-width: 900px;
    color: #323132;
    margin: 0 !important;
}


#tileshere {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 10px 0;
}

.tile {
    width: calc(33.3% - 10px);
    margin-left: 5px;
    margin-right: 5px;
    height: 300px;
}

#tile {
    display: flex;
    flex-direction: column;
}

.item {
    flex-grow: 0;
}


.innerTopic {
    background-color: #E2E2E3;
    font-size: 14px;
    color: #222222;
    width: fit-content;
    padding: 1px 3px;
}

.title {
    padding: 12px 12px 4px 12px;
    font-size: 16px;
    background-color: #f5f5f5;
    color: #222222;
    font-weight: bold;
}

.subtitle {
    padding: 0 12px;
    flex-grow: 1;
    font-size: 14px;
    background-color: #f5f5f5;
    color: #222222;
}


.graphic {
    padding: 0 12px;
    /* width: 100%; */
    background-color: #f5f5f5;
}

.source {
    padding: 0 12px 12px 12px;
    font-size: 14px;
    stroke: #414042;
    background-color: #f5f5f5;
}

@media (max-width: 699px) {

    #tileshere {
        display: block;
    }

    .tile {
        width: calc(100% - 10px);
        margin: 10px 5px;
        max-height: 280px;

    }

    .subtitle {
        flex-grow: 1;
    }

}


#small {
    clear: both;
}