line.between{
  stroke:#c6c6c6;
  stroke-width:3px;
}

.dataLabels{
  font-weight: 600;
  font-size: 14px;
}

p.groupLabels{
  /* padding-top:15px; */
  font-weight: 600;
  margin: 5px 0 !important;
}

.confidenceBand {
  opacity: 0.30;
}

.middleLine {
  stroke-linecap: round;
}
