/* purgecss start ignore */

h2.svelte-4xzjby{
  display:inline-block
}

.tiles-grid.svelte-4xzjby{
  display:grid;
  width:100%;
  justify-content:stretch;
  grid-auto-flow:row dense;
  margin:8px 0
}

/* purgecss end ignore *//* purgecss start ignore */

h3.svelte-1krn9ab{
  font-size:1.3rem;
  font-weight:bold
}

.blank.svelte-1krn9ab{
  padding:0;
  line-height:1
}

.tile.svelte-1krn9ab,.blank.svelte-1krn9ab{
  color:black;
  margin:4px 0 0 !important
}

/* purgecss end ignore *//* purgecss start ignore */

.label-group.svelte-e4t51j.svelte-e4t51j{
  margin:4px 0 1px 0;
  padding:0;
  line-height:1.2;
  font-size:0.9rem
}

.bold.svelte-e4t51j.svelte-e4t51j{
  font-weight:bold
}

.sml.svelte-e4t51j.svelte-e4t51j{
  margin-left:3px;
  font-size:.85rem
}

.brackets.svelte-e4t51j.svelte-e4t51j::before{
  content:"("
}

.brackets.svelte-e4t51j.svelte-e4t51j::after{
  content:")"
}

.bar-group.svelte-e4t51j.svelte-e4t51j{
  display:block;
  position:relative;
  width:100%
}

.bar-group.svelte-e4t51j>div.svelte-e4t51j{
  position:absolute;
  height:100%;
  top:0
}

.bar.svelte-e4t51j.svelte-e4t51j{
  background-color:#27A0CC
}

.marker.svelte-e4t51j.svelte-e4t51j{
  border-left-color:black;
  border-left-style:solid
}

ul.legend-block.svelte-e4t51j.svelte-e4t51j{
  list-style-type:none;
  padding:0;
  margin:0 0 5px 0
}

ul.legend-block.svelte-e4t51j>li.svelte-e4t51j{
  display:inline-block;
  margin:0 10px 0 0;
  padding:0
}

.legend-vis.svelte-e4t51j.svelte-e4t51j{
  display:inline-block;
  transform:translate(0,3px)
}

small.svelte-e4t51j.svelte-e4t51j{
  font-size:14px;
  line-height:1.3;
  display:block;
  margin-top:8px;
  color:#707070
}

.nowrap.svelte-e4t51j.svelte-e4t51j{
  white-space:nowrap
}

/* purgecss end ignore *//* purgecss start ignore */

#map.svelte-21htbi{
  margin:0;
  padding:0;
  height:300px
}

/* purgecss end ignore *//* purgecss start ignore */

.bold.svelte-im7ny9.svelte-im7ny9{
  font-weight:bold
}

.brackets.svelte-im7ny9.svelte-im7ny9::before{
  content:"("
}

.brackets.svelte-im7ny9.svelte-im7ny9::after{
  content:")"
}

.bar-group.svelte-im7ny9.svelte-im7ny9,.x-scale.svelte-im7ny9.svelte-im7ny9{
  display:block;
  position:relative;
  width:calc(100% + 2px)
}

.x-scale.svelte-im7ny9.svelte-im7ny9{
  position:relative;
  border-top:1.5px solid #555;
  font-size:0.9rem;
  width:100%
}

.bar-group.svelte-im7ny9>div.svelte-im7ny9{
  position:absolute;
  height:100%
}

.x-scale.svelte-im7ny9>div.svelte-im7ny9{
  position:absolute;
  top:0;
  line-height:normal;
  padding-top:2px
}

.bar.svelte-im7ny9.svelte-im7ny9{
  background-color:#27A0CC
}

.marker.svelte-im7ny9.svelte-im7ny9{
  border-bottom:2.5px solid black
}

.marker-vis.svelte-im7ny9.svelte-im7ny9{
  border-bottom:2px solid black;
  transform:translate(0,calc(3px - 0.5rem)) !important
}

ul.legend-block.svelte-im7ny9.svelte-im7ny9{
  list-style-type:none;
  padding:0;
  margin:0 0 5px 0;
  min-height:1rem
}

ul.legend-block.svelte-im7ny9>li.svelte-im7ny9{
  display:inline-block;
  margin:0 10px 0 0;
  padding:0
}

.legend-vis.svelte-im7ny9.svelte-im7ny9{
  display:inline-block;
  width:1rem;
  height:1rem;
  transform:translate(0,3px)
}

small.svelte-im7ny9.svelte-im7ny9{
  font-size:14px;
  line-height:1.3;
  display:block;
  margin-top:8px;
  color:#707070
}

/* purgecss end ignore *//* purgecss start ignore */

.num-big.svelte-17gxkh9{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  width:100%;
  font-size:3rem;
  font-weight:bold;
  line-height:1.2
}

.num-suffix.svelte-17gxkh9{
  display:block;
  font-size:18px;
  max-width:100%;
  line-height:1.1
}

.num-desc.svelte-17gxkh9{
  display:block;
  font-size:16px;
  margin-top:18px;
  color:#555;
  line-height:1.6
}

.num-desc mark{
  font-weight:bold;
  background-color:var(--highlightColor, lightgrey);
  padding:0 4px
}

small.svelte-17gxkh9{
  font-size:14px;
  line-height:1.3;
  display:block;
  margin-top:8px;
  color:#707070
}

/* purgecss end ignore *//* purgecss start ignore */

h1.svelte-1pgg74v{
  font-size:1.8rem;
  margin:0 0 -12px 0;
  font-weight:bold
}

/* purgecss end ignore */