/* purgecss start ignore */

.notice-container.svelte-p5uhg7{
  position:relative;
  display:block;
  padding:12px 12px 12px 44px;
  background-color:rgb(245,245,246);
  border-left:4px solid rgb(112,112,113);
  margin:4px 0 12px
}

.notice-icon.svelte-p5uhg7{
  position:absolute;
  font-size:1.2em;
  transform:translate(-30px, 3px)
}

/* purgecss end ignore *//* purgecss start ignore */

.topic-item.svelte-udjf38.svelte-udjf38{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  margin:4px 0 1px;
  background-color:white
}

.topic-item.svelte-udjf38>label.svelte-udjf38:focus-within{
  outline:2px solid orange;
  flex-grow:1
}

.topic-info.svelte-udjf38.svelte-udjf38{
  margin:0;
  padding:16px;
  background-color:rgb(245,245,246);
  border-left:4px solid rgb(112,112,113)
}

.topic-info.svelte-udjf38+.topic-info.svelte-udjf38{
  padding-top:0
}

.topic-toggle.svelte-udjf38.svelte-udjf38{
  margin:0;
  padding:0;
  background:none;
  border:none;
  font-size:0.8em;
  width:18px;
  color:#444
}

.topic-toggle.svelte-udjf38.svelte-udjf38:hover,.topic-toggle.svelte-udjf38.svelte-udjf38:active{
  color:#000;
  background:none !important
}

.topic-toggle.svelte-udjf38.svelte-udjf38:focus{
  outline:2px solid orange
}

p.svelte-udjf38.svelte-udjf38{
  margin:0
}

.inline-icon.svelte-udjf38.svelte-udjf38{
  display:inline-block;
  transform:translateY(3px);
  margin-right:3px
}

/* purgecss end ignore *//* purgecss start ignore */

#lmap{
  filter:invert(0.9);
  opacity:0.9
}

.bx--inline-notification__subtitle{
  margin:1em
}

.bx--inline-notification__details svg{
  visibility:hidden;
  width:0;
  display:none
}

input[type=checkbox].svelte-1nyo6gz{
  margin-left:1px
}

/* purgecss end ignore */