/* purgecss start ignore */

body{
  margin:0;
  padding:0;
  font-size:18px
}

main.svelte-1q1efus.svelte-1q1efus{
  background-color:#F4F7FA;
  max-width:980px;
  margin:0 auto;
  padding:24px;
  font-size:1rem
}

h2.svelte-1q1efus.svelte-1q1efus,label.svelte-1q1efus.svelte-1q1efus{
  display:block;
  color:#206095;
  padding:0;
  margin:0 0 24px !important
}

h2.svelte-1q1efus.svelte-1q1efus{
  font-weight:bold
}

label.svelte-1q1efus.svelte-1q1efus{
  font-size:1rem
}

button.svelte-1q1efus.svelte-1q1efus{
  display:inline-flex;
  justify-items:center;
  align-items:center;
  height:42px;
  border:none;
  border-radius:0;
  margin:24px 4px 0 0;
  padding:0 0.5em;
  background-color:#bbb;
  font-family:"Open Sans",Helvetica,sans-serif;
  font-size:1rem
}

button.svelte-1q1efus>span.svelte-1q1efus{
  padding:0 0.2em
}

button.confirm.svelte-1q1efus.svelte-1q1efus{
  background-color:#0F8243;
  color:white
}

button.svelte-1q1efus.svelte-1q1efus:disabled{
  opacity:60%
}

/* purgecss end ignore */