/* purgecss start ignore */

#loading.svelte-ri93hy{
  z-index:1000;
  display:flex;
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background-color:rgba(255,255,255,.7)
}

.spinner-border.svelte-ri93hy{
  box-sizing:border-box;
  display:inline-block;
  width:1.4rem;
  height:1.4rem;
  border:0.25em solid rgba(144,32,130,.5);
  border-right-color:rgb(144,32,130);
  border-radius:50%;
  margin:auto;
  animation:.75s linear infinite svelte-ri93hy-spinner-border
}

@keyframes svelte-ri93hy-spinner-border{
  100%{
    transform:rotate(360deg)
  }
}

.visually-hidden.svelte-ri93hy{
  position:absolute!important;
  width:1px!important;
  height:1px!important;
  padding:0!important;
  margin:-1px!important;
  overflow:hidden!important;
  clip:rect(0,0,0,0)!important;
  white-space:nowrap!important;
  border:0!important
}

/* purgecss end ignore */