body {
    max-width: 320px;
}

h6 {
    font-size: 16px;
    margin: 16px 0 8px 0;
    font-weight: 700;
    color: #323132;
}

#chart {
    background-color: #F5F5F5 !important;
}

path.domain {
    display: none
}

#centreline{
    stroke: #ccc;
}