		body {
			max-width:700px;
			margin:0px auto;
			margin-left: 0px;
			margin-bottom: 50px;
			font-family: 'Open Sans',Arial,sans-serif;
			font-weight: 400;
			color:#206095;
			padding-bottom: 30px;
		}

		h1 {
			font-family: 'Open Sans',Arial,sans-serif;
			font-weight: 700;
			margin: 20px 0px 20px 0px;
			font-size: 32px;
			line-height: 40px;
			margin-bottom: 20px;
		}

		h2 {
			font-size: 24px;
			line-height:28px;
			margin-bottom: 3px;
			font-weight: 700;
		}

		h3 {
			margin-top:7px;
			font-size: 18px;
			line-height:24px;
			margin-bottom: 12px;
			font-weight: 700;
		}

		hr {
			border-style: solid;
			display: block;
	    -webkit-margin-before: 0.5em;
	    -webkit-margin-after: 0.5em;
	    -webkit-margin-start: auto;
	    -webkit-margin-end: auto;
			border-width: 1.5px;
			border-color:white;
		}

		p{
			margin-top: -8px;
		}

		/* .col-sm-6{
			padding-bottom: 10px!important;
		} */

		/*  highlight boxes */
		.highlightbox{
			padding: 1px 10px;
			margin:10px 0px;
			width:92%;
		}

		.highlightbox p{
			font-size: 20px;
			color: white;
			margin:14px 0px;
		}

		@media screen and (max-width:600px) {
			.highlightbox{
				width:92%;
			}
		}

		@media screen and (max-width:425px) {
			.highlightbox{
				width:90%;
			}
		}


		.highlight1{
				/* background-color: #0F8243; */
				background-color: #0F8243;
		}

		.highlight2{
				/* background-color: #00a7a3 ; */
				background-color: #0F8243 ;
		}

		.highlight3{
				background-color: #3c5643 ;
		}

		/* detail */

		.details{
			-webkit-font-smoothing:antialiased;
			-moz-osx-font-smoothing:grayscale;
			font-weight:400;
			font-size:16px;
			line-height:20px;
			/* color:#0b0c0c; */
			/* margin-bottom:20px; */
			display:block
		}

		.details__text{
			padding-top: 15px;
			padding-bottom: 2px;
			padding-left:20px;
			border-left:3px solid #5F7682
		}

		.details__summary{
			display:inline-block;
			position:relative;
			/* margin-bottom:5px;
			padding-left:25px;
			color:#005ea5; */
			cursor:pointer
		}

		.details__summary:hover{color:#003C57}
		.details__summary:focus{outline:3px solid #FF9933 ;outline-offset:-1px;}

		/* .details__summary::-webkit-details-marker{display:none}
		.details__summary:before{
			content:"";
			position:absolute;
			top:0;bottom:0;left:0;
			margin:auto;
			display:block;
			width:0;
			height:0;
			border-style:solid;
			border-color:transparent;
			-webkit-clip-path:polygon(0% 0%, 100% 50%, 0% 100%);
			clip-path:polygon(0% 0%, 100% 50%, 0% 100%);
			}

		 .details[open]>.details__summary:before{
			 display:block;
			 width:0;height:0;
			 border-style:solid;
			 border-color:transparent;
			 -webkit-clip-path:polygon(0% 0%, 50% 100%, 100% 0%);
			 clip-path:polygon(0% 0%, 50% 100%, 100% 0%);
			 border-width:12.124px 7px 0 7px;
			 border-top-color:inherit
		 } */

		 .details__text p{margin-top:0;margin-bottom:20px}
		 .details__text p:last-child{margin-bottom:0}
/*
		.details__summary-text{text-decoration:underline}




 */

		/* Spinner bits */
		.spinner-button {

			padding: 10px 16px;
			text-decoration: none;
			color:white;
		}

		.spinner-inner {
			float:left;
			width:71%
		}

		.spinner-input{
			text-align:right;
			width:100%;

		}

		/* Primary button */
		      .btn-primary {
		        background-color: #206095;
		        color: #fff;
		      }
		      .btn-primary:hover {
		        background-color:#003C57;
		      }
		      .btn-primary:focus {
		        outline: 3px solid #FF9933 !important;
		        outline-offset: -1px;
		        background-color:#003C57;
		      }
		      .large {
		        font-family: 'Open Sans',Arial,sans-serif;
		        font-weight: 700;
		        font-size: 16px;
		        display: inline-block;
		        cursor: pointer;
		        height: 40px;
		        padding: 0 32px 0 32px;
		        border: 0 none;
		        text-align: center;
		        -webkit-appearance: none;
		        transition: background-color 0.25s ease-out;
		        text-decoration: none;
		        -webkit-font-smoothing: antialiased;
		      }


		/*  Input boxes */

		input {
		  height: 40px;
		  margin-bottom: 10px;
			width:83%;
			box-sizing: border-box;
		}

		.pound {
		  display: inline;
		  height: 40px;
		  width: 40px;
		  font-size: 21px;
		  padding-top: 6px;
		  background-color: #3b7a9e;
		  color: #fff;
		  text-align: center;
		  float: left;
		  font-weight: 600;
			box-sizing: border-box;
		}

		.arrow{
		  display: inline;
		  height: 40px;
		  width: 40px;
		  font-size: 16px;
		  padding-top: 8px;
		  background-color: #3b7a9e;
		  color: #fff;
		  text-align: center;
		  float: left;
		}

		.form-control {
		  height: 40px !important;
		  width:90% !important;
		}

		.input-window {

			display: inline;
		}

		input {
		  font-size: 16px !important;
		  text-align: right;
		  padding-right:0px;

		}

	 input#employees::-webkit-inner-spin-button,
	 input#employees::-webkit-outer-spin-button{
			-webkit-appearance:none;
			margin-left: 10px;
		}

@media screen and (max-width:600px) {
	.spinner-inner {
		float:left;
		width:76.5%
	}

	.spinner-input{
		text-align:right;
		width:100%;

	}

	input{
		width:86%
	}

}

@media screen and (max-width:425px) {
	.spinner-inner {
		float:left;
		width:73%
	}

	.spinner-input{
		text-align:right;
		width:100%;

	}

	input{
		width:84%
	}

}

@media screen and (max-width:375px) {
	.spinner-inner {
		float:left;
		width:69%
	}

	.spinner-input{
		text-align:right;
		width:100%;

	}

	input{
		width:82%
	}

}

		/*  Bars*/
		.unemployedBar{
			float: left;
	    background-color: rgb(231, 231, 231);
	    border: white solid 2px;
	    padding-bottom: 8px;
	    padding-left: 12px;
	    padding-right: 12px;
	    padding-top: 8px;
	    height: 45px;
		}

		.barText {
		    float: left;
		    padding-top: 10px;
		    color: rgb(51, 51, 51);
		    font-family: "Open Sans",sans-serif;
		    font-size: 15px;
		}

.dropdown-container, .money-input-container {
	width: 96%;
	display: inline-block;
	position: relative;
}

select, input[type="number"], button {
	float: left;
	position: relative;
	margin: 2px 0;
	padding: 2px 0 0;
	height: 36px;
	outline: 0;
	border: 2px solid #206095;
	color: #206095;
	font-size: 16px;
	line-height: 0;
	cursor: pointer;
}

select {
	width: 100%;
	padding-left: 10px;
}

select:focus {
	outline: 3px solid orange;
}

.visuallyhidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.dropdown-container::before {
	height: 36px;
	width: 39px;
	position: absolute;
	z-index: 2;
	top: 2px;
	right: 0px;
	/* bottom: 2px; */
	background: #206095;
	content: '';
	pointer-events: none;
}
.dropdown-container::after {
	content: '';
	position: absolute;
	z-index: 2;
	right: 12px;
	margin: 16px 0 0 0;
	border-style: solid;
	border-width: 10px 8px 0 8px;
	border-color: #fff transparent transparent transparent;
	pointer-events: none;
}

.money-input-container {
	display: inline-block;
}

input.money-input {
	width: 100%;
	padding-left: 46px;
	padding-right: 10px;
}

button:focus, input:focus {
	z-index: 1;
}
button:hover {
	background-color: #003C57;
}
button:focus, input:focus {
	outline: 3px solid orange;
}

.money-input-container:before {
	height: 29px;
	width: 24px;
	background-color: #9AB1C4;
	position: absolute;
	top: 4px;
	left: 2px;
	z-index: 2;
	content: '£';
	font-size: 18px;
	color: black;
	padding-top: 3px;
	padding-left: 12px;
	font-weight: bold;
}

button {
	height: 36px;
	background-color: #206095;
	color: white;
}
.button-step {
	font-size: 24px;
	width: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

div.number-input > input[type="number"], .button-step  {
	float: left;
}
div.number-input > input[type="number"] {
	border-left: none;
	border-right: none;
	width: calc(96% - 80px);
	appearance: textfield;
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	text-align: center;
}

.visuallyhidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
