.dataLabels{
  font-weight: 600;
  font-size: 14px;
}

.chart-container {
  display: inline-block;
  vertical-align: top;
}

.chart-container:last-child {
  margin-right: 0;
}

.title {
  font-weight: 600;
  fill: #414042;
}

line.minline, line.midline, line.maxline {
  stroke: #222;
  stroke-width: 1.5px;
  stroke-linecap: round;
}


div.legend--item--here {
  display:flex;
  padding-right:40px;
  padding-bottom: 12px;
  margin-top: 12px;
}

.legend--icon--refline {
  height: 1.5px
}
